GOOGLE_SHEET_ID=your_sheet_id
GOOGLE_SHEET_RANGE=Sheet1!A:L
GOOGLE_SERVICE_ACCOUNT_JSON=./service-account.json
SQLITE_DB_PATH=../database/seeds/dss_inventory_demo.db
ACTIVE_DATASET_ID=real_data_final_updated_2026_03_29
STATE_FILE=./state.json
POLL_INTERVAL_SECONDS=3
